<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>gestionproduit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletControleur</display-name>
    <servlet-name>ServletControleur</servlet-name>
    <servlet-class>controleur.ServletControleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControleur</servlet-name>
    <url-pattern>/controleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCategorie</display-name>
    <servlet-name>ServletCategorie</servlet-name>
    <servlet-class>controleur.ServletCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCategorie</servlet-name>
    <url-pattern>/addCategorieControleur</url-pattern>
  </servlet-mapping>
</web-app>